# Node & Monorepo
node_modules/
.pnpm-store/
.DS_Store
Thumbs.db
*.log

# Next.js
.next/
out/
build/
*.tsbuildinfo

# Elixir / Phoenix
/apps/backend/_build
/apps/backend/cover
/apps/backend/deps
/apps/backend/doc
/apps/backend/priv/static
/apps/backend/erl_crash.dump
*.ez
*.beam
/apps/backend/config/*.secret.exs

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
